
@{
    ViewBag.Title = "EPay";
}
@using LRWEB_V1_CLIENT_SIDE_T24.Areas.LRForms
<div class="mainboard" style="width:100vw;height:100vh;background-color:#fff;">
    <div class="container">
        <div class="row">
            <div class="col-12" style="text-align:center;">
                <h1 class="text-success" style="font-size:20em;"><i class="fa fa-check"></i></h1>
            </div>
            <div class="col-12" style="text-align:center;">
                <h1 class="text-secondary">SUCCESSFULLY SUBMITTED</h1>
                <p class="text-secondary">Thank you for completing the form. Your application has now been submitted to your company’s HR for verification. Once done, you will receive an email on how to proceed with your Loan application.</p>
                <br />
                @*<a href="@(GlobalVariableClass.DownloadMyPDFForm() )" download="EPAY_Form.pdf" class="btn btn-secondary" style="padding-left:25px;padding-right:25px;"><i class="fa fa-download"></i> DOWNLOAD EPAY FORM</a>*@
            </div>
        </div>
    </div>
</div>

