<?xml version="1.0"?>
<!-- For more information on how to configure your ASP.NET application, please visithttp://go.microsoft.com/fwlink/?LinkId=301880-->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-LRWEB_V1_CLIENT_SIDE_T24-20180918115104.mdf;Initial Catalog=aspnet-LRWEB_V1_CLIENT_SIDE_T24-20180918115104;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="TMBANKconnection" connectionString="Data Source=10.223.48.147;Initial Catalog=LRWEB;Persist Security Info=True;User ID=sa;Password=P@ssw0rd123" providerName="System.Data.SqlClient"/>
    <add name="BANKALERTSconnection" connectionString="Data Source=10.223.48.147;Initial Catalog=BankAlerts;Persist Security Info=True;User ID=sa;Password=P@ssw0rd123" providerName="System.Data.SqlClient"/>
    <!--<add name="AELConnection" connectionString="Server=10.204.99.30;Port=3306;Database=csblhagency;Uid=lrwebdev;Pwd=lrw3bd3v123#" providerName="MySql.Data.MySqlClient" />-->
    <add name="AELConnectiont24" connectionString="Server=10.204.99.118;Port=3306;Database=csblhagency;Uid=cofortuno;Pwd=C$Blhagency" providerName="MySql.Data.MySqlClient"/>
    <!--<add name="AELConnectiont24" connectionString="Server=10.204.99.118;Port=3306;Database=csblhagency;Uid=root;Pwd=passw0rd" providerName="MySql.Data.MySqlClient" />-->
    <add name="FolderName" connectionString=""/>
    <add name="PDFHost" connectionString="http://localhost:9985/TCPDF-master/examples/ViewFillupPDF.php?"/>
    <add name="DownloadPDF" connectionString="http://localhost:9985/TCPDF-master/examples/DownloadForm.php?"/>
    <add name="ID_IMAGE_STORAGE" connectionString="~/Areas/ID_STORAGE/"/>
    <add name="ID_IMAGE_MODE" connectionString="UAT"/>
    <add name="ID_VALID_URL" connectionString="http://10.223.48.186/LRForms/Information/Index"/>
    <add name="unifiedapi" connectionString="https://new-los-api-dev.citysavings.com.ph/v1/newlos/"/>
    <add name="unifiedlookup" connectionString="https://new-los-api-dev.citysavings.com.ph/v1/newlos/lookup/values/"/>
    <add name="unifiedtoken" connectionString="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzeXNfaWQiOiI2MDIxMjAwMy0zZGVhLTRhODctYmExYS1lNzA0MTBkMjEyMjAiLCJyb2xlcyI6WyJNYXJpYSBBcHAiXSwibW9kdWxlcyI6WyJDb3JlIiwiQ3VzdG9tZXIiLCJHbG9iYWwiLCJNYXJpYSIsIk1jIl0sImVuZHBvaW50cyI6IkNDRzAyMXxDQ0cwMjJ8Q0NQMDAyfENDUDAwMXxHTEcwMDV8R1NHMDE3fEdDRzAwMXxHTEcwMDF8R0xHMDAyfEdMRzAwM3xHTEcwMDZ8R0xHMDA0fE1NUDAwMXxNTUcwMDd8TU1HMDA4fE1NRzAwNnxNTUcwMDl8TU1HMDEwfE1NUDAwMnxNTVAwMDR8TU1QMDA5fE1NUDAwN3xNTUcwMTh8TU1HMDE3fE1NUDAwOHxNTVAwMTF8TU1QMDEzfE1NRzAyNnxNTUcwMTl8TU1QMDE0fCIsInVpIjoiYmNjOTA0YzQtZmQ1OC00M2UyLWE2NjItNThkOGIzNGIxOWFkIiwiaWF0IjoxNjU1OTYxNzg4LCJleHAiOjE2ODc0OTc3ODh9.LyhyYjFYIbny1Crw0PnKWCBT130U70JY3z3YkR_xAlk"/>
    <add name="Uristringt24" connectionString="http://agencyloansuat-t24.citysavings.net:8082/agencyapi/"/>
    <add name="uname" connectionString="lrweb"/>
    <add name="pword" connectionString="C5BLrW3B"/>
    <add name="centralapi" connectionString="https://centralsl-dev.citysavings.net/cspanel/apis/"/>
    <add name="centraluname" connectionString="csuserapi"/>
    <add name="centralpword" connectionString="Pass@1234"/>
    <!--<add name="Uristring" connectionString="http://agencyloansuat.citysavings.net/agencyapi/" />-->
  </connectionStrings>
  <appSettings>
    <add key="EpaySecurityKey" value="Un10nb@nKEp@y0nL1nEVeRs10nTw0P0inTZ3r0#OwnTheFutureUAT"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="EmailURL" value="mail.unionbankph.com"/>
    <add key="EmailName" value="no-reply@unionbankph.com"/>
    <add key="RSAPublicKey" value="EPAYATUN10NBATNKPHDOTCOMOWNTHEFUTUREMKIYJNBGFVSPUBLIC"/>
    <add key="RSAPrivate" value="EPAYATUN10NBATNKPHDOTCOMOWNTHEFUTUREMKIYJNBGFVSPUBLIC"/>
    <add key="LogFilePath" value="~/Areas/HumanResource/LogCode/LogFiles/"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <!--<authentication mode="Forms">
      <forms   requireSSL="true"></forms>
    </authentication>-->
    <sessionState mode="InProc" cookieless="false" timeout="30"/>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5.1" maxRequestLength="32768"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication"/>
      <remove name="TelemetryCorrelationHttpModule"/>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler"/>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <!--Clickjacking security-->
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="DENY"/>
      </customHeaders>
    </httpProtocol>
    <!--End clickjacking-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
</configuration>