@{ 
    Layout = "~/Areas/LRForms/Views/Shared/_LayoutInfo.cshtml";
    ViewBag.Title = "ID Matrix";
}
<div class="" style="overflow-y:auto;height:calc(100vh - 10px);">
    <br />
    <h5 style="background-color:#4f2683;padding:5px;text-align:center;color:#f1f1f1;"><b>GROUP A: ANY OF THESE</b></h5>
    <table class="table table-bordered table-striped">
        <tr>
            <td>1</td>
            <td>Passport</td>
        </tr>
        <tr>
            <td>2</td>
            <td>PRC ID</td>
        </tr>
        <tr>
            <td>3</td>
            <td>NBI Clearance</td>
        </tr>
        <tr>
            <td>4</td>
            <td>GSIS e-card / GSIS (membership ID)/ Unified Multipurpose ID(UMID)</td>
        </tr>
        <tr>
            <td>5</td>
            <td>SSS ID/ Unified Multipurpose ID (UMID)</td>
        </tr>
        <tr>
            <td>6</td>
            <td>IBP ID</td>
        </tr>
        <tr>
            <td>7</td>
            <td>School ID</td>
        </tr>
    </table>
    <h5 style="background-color:#4f2683;padding:5px;text-align:center;color:#f1f1f1;"><b>GROUP B: ANY OF THESE 2</b></h5>
    <table class="table table-bordered table-striped">
        <tr>
            <td>1</td>
            <td>ID issued by the National Council on Disability Affairs</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Driver's License</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Senior Citizen Card</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Goverment office and GOCC ID</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Company ID issued by private entities or institution registered with or supervised or regulated either by the BSP,SEC, or IC</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Philhealth Insurance Card ng Bayan</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Overseas Workers Welfare Administration ID</td>
        </tr>
        <tr>
            <td>8</td>
            <td>OFW ID</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Seaman's Book</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Alien Certificate of Resignation/Immigrant Certificate of Registration</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Postal ID</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Voter's ID</td>
        </tr>
        <tr>
            <td>13</td>
            <td>TIN</td>
        </tr>
    </table>
</div>