@{
    Layout = "~/Areas/LRForms/Views/Shared/_LayoutInfo.cshtml";
    ViewBag.Title = "LRWEB";
}
<div class="col-12" style="text-align:center;">
    <img src="~/Areas/LRForms/Resources/Images/loanrangerlogo.png" alt="" style="width:150px;margin-top:13vh;margin-bottom:25px;" />
</div>
<div class="col-12" style="text-align:center;">
    <h2 class="text-violet">qwesad</h2>
    <br />
    <p class="text-violet">Please wait for an email notification once your company’s HR has verified your account opening form.</p>

</div>
<style>
    .text-violet {
        color: #4f2683
    }
</style>


