@model LRWEB_V1_CLIENT_SIDE_T24.Areas.LRForms.Models.MessageDone

@{
    Layout = "~/Areas/LRForms/Views/Shared/_LayoutInfo.cshtml";
    ViewBag.Title = "LRWEB";
}

<div class="row">
    <div class="col-12" style="text-align:center;">
        @*<h1 class="text-success" style="font-size:10rem;"><i class="fa fa-check"></i></h1>*@
        <img src="~/Areas/LRForms/Resources/Images/loanrangerlogo.png" alt="" style="width:150px;margin-top:13vh;margin-bottom:25px;" />
    </div>
    <div class="col-8 offset-2" style="text-align:center;">
        <h1 class="text-success" style="font-size:1.9rem;"><b>APPLICATION SUBMITTED SUCCESSFULLY.</b></h1>
        <p class="text-secondary">Your application has now been submitted to your company's HR for verification. You will receive an update on the status of your application via email</p>
        <br />
        @*<a href="@(Model.URLParameters)" download="EPAY_Form.pdf" class="btn btn-secondary" style="padding-left:25px;padding-right:25px;"><i class="fa fa-download"></i> DOWNLOAD EPAY FORM</a>*@
    </div>
</div>
 

