@{
    Layout = "~/Areas/LRForms/Views/Shared/_LayoutInfo.cshtml";
    ViewBag.Title = "LRWEB";
}

<div class="row">
    <div class="col-12" style="text-align:center;">
        @*<h1 class="text-success" style="font-size:10rem;"><i class="fa fa-check"></i></h1>*@
        <img src="~/Areas/LRForms/Resources/Images/loanrangerlogo.png" alt="" style="width:150px;margin-top:13vh;margin-bottom:25px;" />
    </div>
    <div class="col-8 offset-2" style="text-align:center;">
        <h1 class="text-success" style="font-size:1.9rem;"><b>Thank you for your confirmation!</b></h1>
        <br />
        <p class="text-secondary">The loan documents have been submitted to the Bank. We will send an email once your loan has been disbursed.</p>
        <br />
        <p style="font-size:10px">Note: All loan documents and materials confirmed by the customer using a one-time password (OTP) shall be the evidence of transaction made between the Customer and City Savings Bank and shall be considered valid and binding as a contract duly signed between the Customer and City Savings Bank.</p>
        <br />
        @*<a href="@(Model.URLParameters)" download="EPAY_Form.pdf" class="btn btn-secondary" style="padding-left:25px;padding-right:25px;"><i class="fa fa-download"></i> DOWNLOAD EPAY FORM</a>*@
    </div>
</div>