@{
    Layout = "~/Areas/LRForms/Views/Shared/_LayoutInfo.cshtml";
    ViewBag.Title = "LRWEB";
}
<div class="col-12" style="text-align:center;">
    <img src="~/Areas/LRForms/Resources/Images/loanrangerlogo.png" alt="" style="width:150px;margin-top:13vh;margin-bottom:25px;" />
</div>
<div class="col-12" style="text-align:justify;">
    <h4>Privacy Notice</h4><br />
    <p>Dear Customers of CitySavings,</p><br />
    <p>To deliver our brand promise of Straightforward Banking, we make sure that you are properly informed of the implications, duties and obligations that arise when entering into agreements with us.</p><br />
    <p>In light of this commitment, this Privacy Notice outlines how we collect, protect and process the information you have entrusted with us. </p><br />
    <p>To avail of our products or services and over the course of our relationship, the Banks collects the following information:</p><br />
    <ul>
        <li>Personal Information such as name, date of birth, address, contact details and specimen signatures;</li>
        <li>Sensitive Personal Information such as age, civil status and nationality;</li>
        <li>Photocopies of your nominated Identification Cards, or similar documents which proves your identity;</li>
        <li>Voice recordings, CCTV/ATM images and video footage;</li>
        <li>Your employment details;</li>
        <li>For Institutions, your corporate information.</li>
        <li>Financial and credit information such as, but not limited to, financial status, credit background, and source of funds;</li>
        <li>Technical information such as internet protocol (IP), browser type, operating system, and average time spent in accessing the bank’s online channels.</li>
    </ul><br/>
    <p>This information is collected through the following:</p><br />
    <ul>
        <li>Bank Forms (Customer Information Form, Signature Cards, Loan Application Forms and Survey Forms);</li>
        <li>Copies of Employment Documents submitted;</li>
        <li>Copies of Official Corporate Documents submitted;</li>
        <li>Data transmission of your payments and other transactions with us;</li>
        <li>Email, phone calls, letters, and other communications that you sent to us;</li>
        <li>Our website and online and mobile banking app facilities;</li>
        <li>Any of our branches and offices, and CitySavings accredited payment channels which you visited.</li>
    </ul><br />
    <p>We use your information for the following purposes,</p><br />
    <ul>
        <li>Conducting Know-Your-Customer (KYC) procedures;</li>
        <li>Loan evaluation, approval and credit investigation;</li>
        <li>Billing and collecting payments;</li>
        <li>Transferring of funds;</li>
        <li>Processing of insurance;</li>
        <li>Monitoring of accounts;</li>
        <li>Answering queries received via hotline or website;</li>
        <li>Addressing complaints;</li>
        <li>Conducting studies to improve our products and processes;</li>
        <li>Mailing letters and notices</li>
        <li>Promotional and direct marketing initiatives</li>
        <li>Exercising legal proceedings;</li>
        <li>Complying with (a) the Bank’s governing policies, processes, procedures and (b) of the Bangko Sentral ng Pilipinas, our governing body.</li>
    </ul><br />
    <p>We store your information for purposes it was obtained for and in compliance with the regulations set by the (a) Bangko Sentral ng Pilipinas, the (b) Anti-Money Laundering Council, the (c) Bureau of Internal Revenue and (d) other applicable laws.</p><br />
    <p>We shall not process nor retain your information for purposes you have not consented to.</p><br />
    <p>From time to time, we also share your information to third parties. However, we ensure that information given is proportional to the service rendered on behalf of CitySavings. These activities include the:</p><br />
    <ul>
        <li>Delivery of mails and notices;</li>
        <li>Collection of payments through UnionBank, Mlhullier, PeraHub and other collection facilities;</li>
        <li>Billing of payments to your company or UnionBank;</li>
        <li>Review by authorized auditing firms and other regulatory bodies</li>
    </ul><br />
    <h4>Know that we are protecting your data.</h4><br />
    <p>Data security is the Bank's top priority. CitySavings maintains strict security systems designed to prevent unauthorized or accidental access, processing, or erasure of data.</p><br />
    <h4>Loan Ranger Web Services Usage</h4><br />
    <p>The provisions of this section apply only to personal data collected through our Loan Ranger Web Services, a CitySavings web-based platform that enables employees of accredited institutions to submit loan applications, provide information, and submit documentary requirements. By using the said service, you agree to be governed by these provisions. We do not use cookies or any other data-gathering software that installs itself or remains on your device. There are instances, however, when you will be requested to provide personal data, such as when you file an online application for a product or service. We give all personal data that you provide through our Facility the same degree of protection that we give to personal data that we collect through other channels. Our Loan Ranger Web Facility is served from a secure server, thus any personal data that you submit through our mobile banking app service is encrypted on their way from your computer to our servers. In the unlikely event that your transmission is intercepted, your personal data will not be usable by anyone. We require that you use a unique password to access your accounts and transaction information through our mobile banking app service. You can help maintain the security of your personal data by not sharing your password with anyone, by changing your password on a regular basis, and by properly signing off after each mobile banking session.</p><br />
    <h4>Use of Cookies</h4><br />
    <p>This site uses “cookies”, which allows CitySavings to collect information such as browser type, time spent on the site, pages visited and language preferred. This information allows us to know which pages you find relevant and frequently visit. We use this information to improve how we communicate with you through the website. </p><br />
    <p>Most browsers offer privacy settings which can manage these “cookies”. You can refuse to accept these “cookies”; however, you may experience some inconvenience in using the site.</p><br />
    <h4>As a Data Subject, you have and may exercise the following rights:</h4><br />
    <ul>
        <li>Right to be <b>INFORMED</b> </li>
        <li>Right to <b>ACCESS</b> </li>
        <li>Right to <b>OBJECT</b></li>
        <li>Right to <b>ERASURE/BLOCKING</b></li>
        <li>Right to <b>DAMAGES</b></li>
        <li>Right to <b>FILE A COMPLAINT</b></li>
        <li>Right to <b>RECTIFY</b></li>
        <li>Right to <b>DATA PORTABILITY</b></li>
    </ul><br />
    <i>For more details, you may access this website: <a href="https://www.privacy.gov.ph/know-your-rights/" target="_blank">https://www.privacy.gov.ph/know-your-rights/</a></i>
    <pre style="font-size:10px;">
For inquiries regarding this Privacy Notice:
You may e-mail us at <b>simpleisgood@citysavings.com.ph</b>, or
Mail your letter to our <b>Data Protection Officer</b> at:
29th Floor, CitySavings Bank, UnionBank Plaza
Meralco Avenue corner Onyx Road,
Ortigas Center, Pasig City
Philippines
    </pre>

</div>
<style>
    .text-violet {
        color: #4f2683
    }
</style>


