@{
    Layout = "~/Areas/LRForms/Views/Shared/_LayoutInfo.cshtml";
    ViewBag.Title = "LRWEB";
}
<div class="col-12" style="text-align:center;">
    <img src="~/Areas/LRForms/Resources/Images/loanrangerlogo.png" alt="" style="width:150px;margin-top:13vh;margin-bottom:25px;" />
</div>
<div class="col-12" style="text-align:justify;">
    <h3>Terms and Conditions for Use of Loan Ranger Web Facility</h3><br />
    <h4>Definition of Terms </h4><br />
    <p>This Terms and Conditions for the Use of Loan Ranger Web Facility (the “Agreement”) governs your use of the Web Services provided to you by City Savings Bank, Inc. (“CitySavings” or the “Bank”). In this Agreement:</p><br />
    <ul>
        <li><b>“Loan Ranger Web”</b> or <b>“Facility”</b> refers to CitySavings’ web-based platform that enables employees of accredited institutions to submit loan applications, provide information, and submit documentary requirements.</li>
        <li><b>“Web Services”</b> refers to the various online transactions available to the accredited institutions of the Bank and their employees through the Loan Ranger Web such as but not limited to request for links to loan applications, accomplish, review, and submit loan application forms, and monitor the status of their loans.</li>
        <li><b>“Account”</b> refers to the bank accounts such as but not limited to loan account with CitySavings in your name, whether solely or jointly with another person. </li>
        <li><b>“We”</b>, <b>“Us”</b>, <b>“Our”</b>, and <b>“Bank”</b> refer to City Savings Bank, Inc. </li>
        <li><b>“You”</b> and <b>“Your”</b> refer to the loan applicant. </li>
        <li><b>"One-Time Password"</b> or <b>"OTP"</b> refers to the six-digit code sent to the applicant’s registered work email needed for  online authentication of loan advices of the user.</li>
    </ul><br />
    <h4>ACCESS TO LOAN RANGER WEB</h4><br />
    <p>Online applications in Loan Ranger Web shall be done via the link provided by system as prompted by your employer’s HR Verifier once your name has been enrolled in the system. Upon filling out needed information for the online forms, you must provide the necessary and accurate information needed such as but not limited to your name, address, contact information, employment information, net take home pay, and valid IDs , among others, as the case may be. Your loan application shall only be submitted to the Bank after your HR’s verification of your submitted information and documentary requirements. The Bank, at its sole discretion, reserves the right to validate the information provided by you through the Loan Ranger Web. Once your information has been validated and your loan application has been assessed, you will receive a confirmation from the Bank through electronic mail (email) which will require online validation of respective loan advices related to your loan through OTP authentication.</p><br />
    <p><b>The successful validation and authentication of the OTP shall serve to authorize the Bank to perform the necessary banking transactions to perform your instructions made through the Facility.</b>The Bank shall have no obligation to verify the authenticity of any transaction received from you through or purporting to have been by you via the Loan Ranger Web App other than by means of verification of your email address through the OTP sent. </p><br />
    <p>Your loan applied for through the Facility will be effective upon your receipt of the Bank's confirmation of the disbursement of your loan through email and will remain in full force and effect until its termination.</p><br />
    <p>The Facility may be utilized anytime except for when we are undergoing system maintenance and if the Bank notifies you of the unavailability of our Web Services.</p><br />
    <h4>LOAN APPLICATIONS</h4><br />
    <p>All qualified personnel duly enrolled by their HR verifiers in the system may apply for a loan online through the Loan Ranger Web . You, as the Borrower, understands and agrees that all your submitted information and document/s such as but not limited to payslip that are necessary in processing your loan application must be true and accurate. Once the application is submitted, you agree that the Bank has the right to approve and/or reject your application as the Bank deems fit. </p><br />
    <h4>CALL CITY SAVINGS BANK </h4><br />
    <p>You may call the bank for inquiries or, concerns about or to report unauthorized transactions in Loan Ranger Web or CitySavings Bank’s other services/products at +63 917-8SIMPLE or +63 917-8746753 or email us at <a href="simpleisgood@citysavings.com.ph" target="_blank">simpleisgood@citysavings.com.ph</a> or visit us at any of our CitySavings branch near you</p><br />
    <h4>ACCURACY OF INFORMATION</h4><br />
    <p>The Bank will use reasonable efforts to ensure the accuracy of information accessed through the Facility but does not warrant the information will be free from error. If you notice an error in the account information supplied to you through the Facility or by the use of any of the Facility’s services, you shall advise the Bank as soon as possible. The Bank will endeavor to correct the error promptly and adjust any interest or charges arising out of the error.</p><br />
    <p>The Bank accepts no liability for the consequences arising out of erroneous information that may have been supplied by you through this Facility. Hence, you are solely responsible for the correctness of the information that you supply to the Bank through the use of the Facility or through any other means such as electronic mail or written communication. If you suspect that there is an error in the information supplied to the Bank, you shall advise the Bank as soon as possible. The Bank will endeavor to correct the error wherever possible on a "best efforts' basis".</p><br />
    <h4>GENERAL AGREEMENTS</h4><br />
    <p>CitySavings may, from time to time, introduce new internet banking features and services. We will inform you of these new features and services. By using these features and services when they become available, you agree to be bound by the Terms and Conditions that will be made available to you concerning these features and services.</p><br />
    <p>CitySavings does not guarantee the continuous availability of all internet banking services mentioned in this Agreement. CitySavings reserves the right to terminate or suspend any online banking service.</p><br />
    <p>The Facility will only work on compatible devices and operating systems and certain functionalities will only work if your device is connected to the internet. Some features may also only be available with certain operating systems.</p><br />
    <p>CitySavings shall not be liable for any loss or damage of whatever nature in connection with the implementation of online transactions in the following instances:</p><br />
    <ol>
        <li>Disruption, failure or delay relating to or in connection with the Facility and/or it’s services which are due to circumstances beyond the control of the Bank, unforeseen events, fortuitous events such as but not limited to prolonged power outages, breakdown in computers, software, operating systems and telecommunication facilities, typhoons, floods, public disturbances and calamities and other similar or related cases.</li>
        <li>Loss or damage arising out of any fraudulent access or utilization of the Facility due to theft, unauthorized disclosure of mobile phone numbers, emails, passwords or the unauthorized usage of biometrics and other security measures used in the Facility with or without your participation.</li>
        <li>Inaccurate, incomplete or delayed information is received due to disruption or failure of any information or communication facilities used in the Facility or due to faults in the telecommunication network, internet or network failure, or software or hardware error beyond the control of the Bank.</li>
        <li>Any indirect, incidental or consequential loss, loss of profit or damage suffered by reason of the use or failure or inability to use the Facility.</li>
        <li>Any and all liability, costs, damages, losses and causes of action arising from or in any way connected with the disclosure of information concerning your accounts and/or transactions with the Bank to unauthorized persons for any reason whatsoever, including but not limited to wiretapping of communication lines or erroneous connection by telecommunication switches, or errors in transmitted information due to faulty lines, and any and all forms of high technology surveillance or fraud.</li>
        <li>Any incidental or consequential loss, loss of profit or damage arising from the loss of your mobile phone, mobile devices and other electronic devices enrolled to Loan Ranger Web.</li>
    </ol><br />
    <h4>MISCELLANEOUS</h4><br />
    <p>The terms and conditions set forth in this Agreement and the banking practices and charges relating hereto may be changed by the Bank at any time by notice thereof to the account holder. Any such changes will be effective from the date of the notice or such later date as may be specified therein. The Bank shall endeavor to post such changes in its website at <a href="www.citysavings.com.ph" target="_blank">www.citysavings.com.ph</a></p><br />
    <p>Should the Bank become involved in any litigation due to your actions in relation to the use of the Facility or with this Agreement, or with any of the rights, powers and remedies hereunder, all fees and expenses incurred by the Bank in such a litigation, including a reasonable amount for the attorney's fees which amount is hereby agreed to be at the rate of 10% of the sum sought, shall be under your account.</p><br />
    <p>This Agreement is governed by the regulations of Bangko Sentral ng Pilipinas and applicable laws of the Philippines relating to the covered transactions herein. It shall be understood that access to and use of the service shall be subject to applicable requirements and procedures of government telecommunications or other regulatory authorities and those prescribed by law.</p><br />
    <p>The venue of all legal actions or proceedings arising out of or in connection with these Terms and Conditions shall be brought only in the proper courts of Pasig City to the exclusion of all other courts.</p>

</div>
<style>
    .text-violet {
        color: #4f2683
    }
</style>


